

body {
    margin: 0;
    padding: 0;
}

.container {

    position: relative;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.logout {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgb(16, 110, 79);
    width: 6rem;
    border: 10px;
    text-align: center;
    color:rgb(255, 255, 255);
    font-size: 16px;
    margin: 2px 2px;
    border-radius: 20px;
    cursor: pointer;
}
.logout:hover{
    background-color: rgb(56, 208, 157); 

}

div{
    margin: 20px;
}

